<!DOCTYPE html>
<html >
<head lang="ru">
    <meta charset="utf-8">
    <link rel="stylesheet" media="all" href="{{ url_for( 'static', filename='css/style.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="style.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body class="body">
    <div class='mainword'>
                <div class="text">ST home</div>
                <div class="knopochki">
                
                {% if current_user.is_authenticated %}
                    {% if current_user.Starosta == 1 %}
                    <a class="btnkabik" href="/starosta_lab">Кабинет старосты</a>
                    {% endif %}
                    <box-icon name='user-check' ></box-icon>
                    <a class="btnsob" href="/event_table">События</a>
                    <a class="btneve" href="/add_event">Добавить событие</a>
                    <a class="btnexit" href="/logout">Выход</a>
                {% else %}
                </div>
                <div><a class="btnsign up" href="/login">Войти <i class='bx bx-lock-open-alt' ></i></a> <a class="btn_register" href="/register">Зарегестрироваться <i class='bx bx-edit' ></i></a></div> 
                    
                {% endif %}
                </div>
    </div>
    <div class="eknopka">
    {% block content %}

    

    {% endblock %}
    </div>

</body>




</html>