{% extends "base.html" %}

{% block content %}
    <form class="delev" action="" method="post">
        {{ form.csrf_token }}
        {% if message: %}
            <div>
                {{ message }}
            </div>
                {{ form.search_date.label }}
                {{ form.search_date(class="form-control") }}
                
                {{ form.submit(class="form-control", type='submit') }}
        {% else %}
            {% if data %}

                {% for event in events %}
                <div>
                    {{ event.content }}
                    <input type="checkbox" name='checkbox' value="{{ event.id_event }}">
                </div>
                {% endfor %}

                {{ form.submit(class="form-control", type='submit') }}
            {% else %}
                {{ form.search_date.label }}
                {{ form.search_date(class="form-control") }}

                {{ form.submit(class="form-control", type='submit') }}

            {% endif %}
        {% endif %}
    </form>
    
{% endblock %}