{% extends "base.html" %}

{% block content %}
<div>
    <div class="dates">
        {% for single_date in dates %}
        <div class="single_date">
            {{ single_date }} 
                {% for date, events in events_today %}
                    
                    <div>
                        {{ events_today.get(date) }}
                    </div>
                    
                {% endfor %}
            
        </div>
        {% endfor %}
    </div>
</div>
    

{% endblock %}