.mainword{ 
    /* display: flex; 
    flex-flow: row wrap;    */
    color: red;
    margin: 0px;
    font-family: monospace;
    font-size: 30px;
    border-right:aqua;
    border:10px;
    text-align: center;
}

.dates{
    margin: 1%;
    display: flex; 
    flex-flow: row wrap;   
}

.single_date{
    margin: 0%;
    padding: 10px;
    border: solid #000;
    
}

body{
    text-align: center;
}
